:root {
  /* Colors */
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --iris: #4d5ae5;
  --lightslate: #8e8f99;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue, #2e2f42);
  background: var(--white, #fff);
}

.dark-bg-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.benefits-section {
  padding: 120px 0;
}

.dark-bg-footer {
  height: 312px;
  background: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.light-bg {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

ul,
h3,
p,
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* FlexBox */

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.benefit-item-section {
  display: flex;
  gap: 24px;
}

.benefits li {
  width: calc((100% - 72px) / 4);
}

.flex-column {
  flex-direction: column;
}

.header-container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-menu-section {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.hero-container {
  flex-direction: column;
  align-items: center;
}

.team-items-section {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-items-section > li {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-section {
  padding-bottom: 120px;
}

.projects-items-section {
  display: flex;
  gap: 24px;
}

.projects-items-section li {
  width: calc((100% - 48px) / 3);
}

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* Header */

.top-line {
  height: 72px;
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

/* Logo */

.logo {
  display: inline-block;
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-header {
  margin-right: 76px;
}

.logo-footer {
  margin-bottom: 16px;
}

.text-color-iris {
  color: var(--iris, #4d5ae5);
}

.text-color-cloud {
  color: var(--cloud, #f4f4fd);
}

/* Links */

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-items a {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items a:hover,
.nav-items a:focus,
.nav-items a:active {
  color: var(--ocean, #404bbf);
}

a.main-link {
  color: var(--ocean, #404bbf);
}

a.main-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean, #404bbf);
  position: absolute;
  bottom: -3px;
  left: 0;
}

.project-card-link {
  text-decoration: none;
  cursor: pointer;
}

.contacts-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-items li,
.contacts-items a {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-items a:hover,
.contacts-items a:focus {
  color: var(--ocean, #404bbf);
}

.contacts-items a:active {
  color: var(--iris, #4d5ae5);
}

/* Heading */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.heading-main {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto 48px;
}

.heading-sub {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.heading-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  margin-bottom: 8px;
}

.project-card-heading,
.project-card-heading:visited {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 120% */
  margin-bottom: 8px;
}

/* Buttons */

.primary-btn {
  display: block;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  outline: none;

  /* Button Text */
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--ocean, #404bbf);
}

.filter-btn {
  padding: 12px 24px 12px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  outline: none;
  background: var(--cloud, #f4f4fd);
  cursor: pointer;

  /* Button Text */
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white, #fff);
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  outline: none;
}

/* Paragraph */

.sub-paragraph p {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
}

.project-card-type,
.project-card-type:visited {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
}

.footer-paragraph {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

/* Images */

.team-image > li {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-image-caption {
  padding: 32px 16px;
  text-align: center;
}

.project-card-item {
  width: calc((100% - 48px) / 3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-caption {
  padding: 32px 16px 32px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.project-card-item:hover,
.project-card-item:focus {
  background-color: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Icon SVG */

.benefit-icon div {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
}

.benefit-icon svg {
  width: 64px;
  height: 64px;
  margin: 24px 100px;
}

.customers-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.customer-item {
  display: inline-flex;
  gap: 24px;
}

.customer-item svg {
  padding: 16px 32px;
  width: 168px;
  height: 88px;
  fill: var(--lightslate, #8e8f99);
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item svg:hover,
.customer-item svg:focus {
  fill: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  height: 40px;
}

.social-media-icons svg {
  height: 40px;
  width: 40px;
  fill: var(--cloud, #f4f4fd);
}

.social-media-icons li {
  display: inline-flex;
}

.social-media-icons a {
  border-radius: 50%;
  background-color: var(--iris, #4d5ae5);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media-icons a:hover,
.team-social-media-icons a:focus {
  background-color: var(--ocean, #404bbf);
}

.social-media-icons svg {
  padding: 12px;
}

.footer-social-media {
  margin-left: 120px;
}

.footer-social-media svg {
  padding: 8px;
}

.footer-social-media p {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer-social-media-icons {
  gap: 16px;
  margin-top: 16px;
}

.footer-social-media-icons a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-icons a:hover,
.footer-social-media-icons a:focus {
  background-color: var(--green, #31d0aa);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.32px;
  color: var(--cloud, #f4f4fd);
  padding: 40px 32px 164px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper:hover .portfolio-overlay-text {
  transform: translatey(0);
}

/* ---------- Modal Window ---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background-color: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.modal,
.backdrop {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  background-color: var(--cornflower, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--ocean, #404bbf);
  border-color: var(--ocean, #404bbf);
  fill: var(--white, #fff);
}
